@*// header*@
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <a href="./index.html">
                    <img src="~/animeX/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="header__nav">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Animeler</a></li>
                        <li>
                            <a href="./categories.html">Takvim </a>

                        </li>
                        <li><a href="./blog.html">Random Anime</a></li>
                      
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="header__menu mobile-menu" >
                <ul>
                    <li><a href="./index.html">Uye Ol</a></li>
                    <li><a href="./index.html">Giris Yap</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
@*<header class="header">*@