@model EntityLayer.AppUser
<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="https://secure.gravatar.com/avatar/@Model.EmailHash?s=200" alt="@User.Identity.Name">

            <h3 class="profile-username text-center">@User.Identity.Name</h3>

            <p class="text-muted text-center">Role</p>

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Onayladığı Yorum Sayısı</b> <a class="pull-right">1,322</a>
                </li>
             

            </ul>
            <a href="#" class="btn btn-primary btn-block"><b>Profil Güncelle</b></a>
        </div>
      
    </div>
</div>
