@model List<EntityLayer.Animeler>


<div class="popular__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                <h4>Son Çıkan Animeler</h4>
                <p>Yaz Sezonu Animeleri</p>
            </div>
        </div>
       
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@item.AnimeImg" href="/Animeİzle/Izle/@item.AnimeID/">
                        <div class="ep fa fa-star">&nbsp;@item.IMDb</div>
                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                        <div class="view"><i class="fa fa-calendar"></i> @item.AnimeCikisTarihi.Year</div>
                    </div>
                    <div class="product__item__text align-content-md-center">
                        <ul class="float-left ml-1">
                            @await Component.InvokeAsync("_AnimelerKategori", new{animeID=item.AnimeID})
                            @if (item.AnimeAdi.Length>22)
                            {
                                <h5><a href="AnimeIzle/Izle/@item.AnimeID">@item.AnimeAdi.Substring(0,22)..</a></h5>
                            }else
                            {
                                <h5><a href="AnimeIzle/Izle/@item.AnimeID">@item.AnimeAdi</a></h5>
                            }
                            
                        </ul>
                    </div>
                </div>

            </div>
        }


    </div>
</div>