@{
    Layout = null;
}
<!DOCTYPE html>
<html>

        @Html.Partial("_Admin_Head_Partial")
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">



      
        @await Component.InvokeAsync("_Admin_Header")

        @await Component.InvokeAsync("_Admin_Sidebar")


       

        @Html.Partial("_Admin_SidebarController_Partial")


        @RenderBody()
    </div>
</body>
        @Html.Partial("_Script_Partial")

</html>