@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_LayoutHeadPartial")

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    @await Component.InvokeAsync("_LayoutHeaderPartial")
    <!-- Header End -->
    <!-- Hero Section Begin -->
    @*<div class="container">*@
    @await Component.InvokeAsync("_Slider")
    @*</div>*@
    <!-- Hero Section End -->
    <!-- Product Section Begin -->
    <section class="product spad" style="max-width:80%; position: relative;  margin: auto;">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-8">
                    @await Component.InvokeAsync("_SonEklenenBolumler")
                @await Component.InvokeAsync("_SonCıkanAnimeler")
                @await Component.InvokeAsync("_GelecekAnimeler")
                @await Component.InvokeAsync("_CokOyAlanAnimeler")
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        @await Component.InvokeAsync("_CokIzlenenAnimeler")
                        @await Component.InvokeAsync("_EnYuksekPuanliAnimeler")
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_Footer")
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    @await Component.InvokeAsync("_Script")

</body>

</html>