


<section class="hero pt-0">


    <div class="hero__slider owl-carousel ">

        <div class="videoContainer  ml-0 ">
            <iframe loading="eager" onload="frameload()" marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/Ij6eER4rItQ?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
lazy=1&amp;
playlist=Ij6eER4rItQ">
            </iframe>


            <div class="row mt-5 ml-5">
                <div class="col-lg-6 ">
                    <div class="hero__text align-items-center">
                        <div class="label">Sezonun İncileri</div>
                        <h2>Black Clover</h2>
                        <div class="row">
                            @await Component.InvokeAsync("_SliderKategoriCekme" ,new {animeID=5})
                            <a class="col-md-12 mt-4" href="/AnimeIzle/Izle/5"><span>Hemen İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="videoContainer  ml-0 ">
            <iframe loading="eager" onload="frameload()" marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/t1lPuLtXteM?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
lazy=1&amp;
playlist=t1lPuLtXteM">
            </iframe>


            <div class="row mt-5 ml-5">
                <div class="col-lg-6 ">
                    <div class="hero__text align-items-center">
                        <div class="label">Sezonun İncileri</div>
                        <h2>Jujutsu Kaisen</h2>
                        <div class="row">
                            @await Component.InvokeAsync("_SliderKategoriCekme" ,new {animeID=3})
                            <a class="col-md-12 mt-4" href="/AnimeIzle/Izle/3"><span>Hemen İzle </span> <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="videoContainer  ml-0 ">
            <iframe loading="eager" onload="frameload()" marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/QcFXvRxXxN8?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
lazy=1&amp;
playlist=QcFXvRxXxN8">
            </iframe>


            <div class="row mt-5 ml-5">
                <div class="col-lg-6 ">
                    <div class="hero__text align-items-center">
                        <div class="label">Sezonun İncileri</div>
                        <h2>The Eminence in Shadow</h2>
                        <div class="row">
                            @await Component.InvokeAsync("_SliderKategoriCekme" ,new {animeID=11})
                            <a class="col-md-12 mt-4" href="/AnimeIzle/Izle/11"><span>Hemen İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

      

        <div class="videoContainer  ml-0 ">

            <iframe loading="eager" marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/v3d_9mJBceU?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
playlist=v3d_9mJBceU ">
            </iframe>

            <div class="row mt-5 ml-5">
                <div class="col-lg-6 ">
                    <div class="hero__text align-items-center">
                        <div class="label">Sezonun İncileri</div>
                        <h2>Bleach</h2>
                        <div class="row">
                            @await Component.InvokeAsync("_SliderKategoriCekme" ,new {animeID=1})
                            <a class="col-md-12 mt-4" href="/AnimeIzle/Izle/1"><span>Hemen İzle</span> <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        

       



    </div>


</section>

