


<section class="hero" >
    <div class="">
        <div class="hero__slider owl-carousel">
           

            <div class="videoContainer ">
                <iframe onload="frameload()" marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/keti2rbgI6c?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
lazy=1&amp;
playlist=keti2rbgI6c ">
                </iframe><!---->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videoContainer " >
                <iframe lazy marginheight="0" marginwidth="0" style="pointer-events:none" width="1920" height="1080" allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/v3d_9mJBceU?
controls=0&amp;
showinfo=0&amp;
rel=0&amp;
autoplay=1&amp;
loop=1&amp;
mute=1&amp;
playlist=v3d_9mJBceU ">
                </iframe>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

          
        </div>
    </div>

</section>

