
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

   <title>AnimeX - 404 Found</title>
</head>

<body>
    <img width="100%" src="https://r.resimlink.com/IkGcvT.png" title="AnimeX404Found" alt="AnimeX404Found">
</body>
</html>
