  @model List<EntityLayer.Comments>



<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="anime__details__review">
            <div class="section-title">
                <h5>Son Yaptığın Yorumlar</h5>
            </div>
    @foreach (var item in Model)
    {
        
    
           
                    <div class="anime__review__item">
                        <div class="anime__review__item__pic">
                            <img src="@item.UserImg" alt="">
                        </div>
                        <div class="anime__review__item__text">
                        <h6>
                            <a href="/AnimeIzle/Izle?AnimeID_Sezon=@item.animeler.AnimeID"><span>@item.animeler.AnimeAdi</span></a>
                        </h6>
                            <p>
                                @item.CommentContent
                            </p>
                        </div>
                    </div>
            }
                </div>

            </div>
   
        </div>

        