<head>

    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeX | Layout</title>
    <link rel="icon" type="image/x-icon" href="~/animeX/img/favicon.ico">

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #666666;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


   <link rel="stylesheet" href="~/animeX/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/animeX/css/style.css" type="text/css">
 
   
</head>
