
<div class="row">




    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-commenting-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Toplam Onaylanan Yorum Sayisi</span>
                <span class="info-box-number"> @ViewBag.CommentCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->





    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-tv"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Toplam Yuklenen Anime Sayisi</span>
                <span class="info-box-number">@ViewBag.AnimeCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    



    <div class="clearfix visible-sm-block"></div>


    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa-th-large"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Eklenen Kategori Sayisi</span>
                <span class="info-box-number">@ViewBag.CategoryCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
   



    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-external-link"></i></span>

            <div class="info-box-content">
               
                <span class="info-box-number"><a href="/Home/Index">Siteye Git</a></span>
            </div>        
        </div>  
    </div>

</div>