@model List<EntityLayer.Categories>


@*<h2>Kategoriler</h2>*@
@*<ul class="list-group list-group-light mr-10">

    @foreach (var item in Model)
    {
        <li class="list-group-item bg-transparent ">
            <input class="form-check-input me-1 mr-1" type="checkbox" value="" aria-label="..." />
            @item.KategoriAdi
        </li>
    }


</ul>*@


